#gameScreen {
	display: block;
	margin: auto;
}

#playerline {
	color: green;
}

#playerline * {
	opacity: 0.5;
}

.layer {
	position: absolute;
	height: 100%;
	width: 100%;
}

.window {
	display: block;
	background-color: rgba(191, 255, 0, 0.5);
	border: 2px solid green;
	margin: auto;
	margin-top: 80px;
	width: 500px;
	font: 14px Verdana;
}

.block {
	background-color: lime;
	border: 2px solid green;
}

.biglabel {
	font-weight: bold;
	color: green;
	text-align: center;
}

.line {
	margin: 3px;
	padding: 4px;
}

.button {
	display: inline-block;
	line-height: 40px;
	padding: 10px;
	margin: 10px;
	width: 40%;
	cursor: pointer;
}

.button:active {
	background-color: yellow;
}

body {
	background-image: url("/data/background-earth-rise.jpg");
	background-position-x: 50%;
}