body {
	background-image: url("/data/background-earth-rise.jpg");
	background-position-x: 50%;
}

#gameScreen {
	display: block;
	margin: auto;
}

.layer {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}

.window {
	display: block;
	background-color: rgba(191, 255, 0, 0.5);
	border: 2px solid green;
	margin: auto;
	margin-top: 80px;
	width: 500px;
}