body {
	background-image: url("/data/background-earth-rise.jpg");
}

#game {
	align: center;
	margin: auto;
}

canvas {
	display: block;
	margin-right: auto;
	margin-left: 100px;
}

#blinkers {
	position: absolute;
	left: 334px;
	top: 574px;
	z-level: 100;
}